@media screen and (max-width:375px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 8px 0 8px;
    }

    .cabecalho__pesquisa,
    .cabecalho__perfil, .menu-heading {
        display: none;
    }

    .cabecalho__logo {
        width: 145px;
    }

    .cabecalho__interacao {
        width: 96px;
        display: flex;
        justify-content: space-evenly;
    }

    .item__icone {
        display: block;
        margin-right: 1rem;
        width: 48px;
        height: 48px;
        border-radius: none;
        background-color: var(--azulescuro);
        background-size: 1.375rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item__icone--lupa {
        background-image: url(../../img/pesquisa.svg);
        border: none;
    }

    .item__icone--lupa:hover {
        border-radius: 16px;
        background-color: rgba(80, 129, 251, 0.08);
    }

    .item__icone--lupa:active {
        background-color: rgba(80, 129, 251, 0.16);
    }

    .item__icone--menu {
        background-image: url(../../img/menu.svg);
        border: none;
    }

    .item__icone--menu:hover {
        border-radius: 16px;
        background-color: rgba(80, 129, 251, 0.08);
    }

    .item__icone--menu:active {
        background-color: rgba(80, 129, 251, 0.16);
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
    }

    .cartao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cartao__conteudo {
        width: 343px;
        height: 492px;
    }

    .cartao__editor {
        width: 279px;
        height: 428px;
    }

    .cartao__code {
        outline: none;
        padding-top: 1.5rem;
        font-family: var(--roboto);
        font-size: 0.875rem;
        font-weight: normal;
        line-height: normal;
        overflow: hidden;
    }

    .visualizador {
        width: 343px;
        margin-bottom: 40px;
    }

    .projeto__nome {
        width: 343px;
        height: 56px;
    }

    .projeto__descricao,
    .projeto__linguagens,
    .projeto__botao,
    .projeto__salvar {
        width: 343px;
    }

    .projeto__cor {
        width: 327px;
        height: 40px;
    } 

    .menu-lateral {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        right: -100vw;
        transition: .25s;
        width: 254px;
        height: 571px;
        border-radius: 8px;
        background-color: rgba(45, 65, 91, 1);
        padding: 24px;
        font-size: var(--tamanho-padrao);
    }

    .menu-lateral--ativo {
        right: 0;
        transition: .25s;
    } 

    .menu__linha {
        display: flex;
        flex-direction: column;
        width: 206px;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        opacity: 0.1;
        margin-top: 24px;
    }

    .menu__perfil {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    width: 106px;
    height:56px;    
    color:var(--branco);
    padding: 8px 32px;
    grid-column: 3;
    font-size: var(--tamanho-padrao);
    line-height: 24px;
    border-radius: 8px;
    transition: 0.3s;
    }

    .menu__perfil::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../../img/Photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }

    


}