body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #051d3b;
    display: grid;
    grid-template-areas:
        "cabecalho"
        "conteudo";
}

.container {
    display: flex;
    align-items: center;
    grid-area: cabecalho;
    justify-content: space-between;
    padding: 32px 32px 0 32px;
}

.cabecalho__logo {
    cursor: pointer;
}

.cabecalho__pesquisa {
    background: rgba(255, 255, 255, 0.16);
    color: #FFFFFF;
    width: 752px;
    height: 56px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 16px;
    border: none;
    transition: 0.3s;
}

.cabecalho__pesquisa:hover {
    background: rgba(255, 255, 255, 0.24);
    mix-blend-mode: lighten;
    cursor: pointer;
}

.cabecalho__perfil {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 8px;
    align-items: center;
    justify-self: flex-end;
    color: #fff;
    padding: 8px 32px;
    grid-column: 3;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.cabecalho__perfil:hover {
    background: rgba(255, 255, 255, 0.24);
}

.cabecalho__perfil::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/Photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu {
    display: grid;
    grid-template-columns: auto 1fr;

}

.menu-lateral {
    margin-right: 110px;
    padding: 40px 0 0 32PX;
}

.menu-heading {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
    font-weight: 400;
    padding-bottom: 16px;
}

.menu__item {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    cursor: pointer;
    font-weight: 400;

}

.menu__item-titulo {
    padding-left: 16px;
    font-size: 16px;
    line-height: 24px;
}

.menu__img-comunidade {
    opacity: 0.5;
    transition: 0.3s;
}

.menu__img-comunidade:hover {
    opacity: 1;
}

.comunidade {
    opacity: 0.5;
    transition: 0.3s;
}

.comunidade:hover {
    opacity: 1;
}

.codigos {
    display: flex;
    padding:38px 24px 24px;
    flex-wrap: wrap;
    justify-content: space-between;

    
}

.conteudo__principal {
    padding: 24px;
    background: #6BD1FF;
    width: 520px;
    height: 288px;
    border-radius: 8px;
}

.conteudo__editor {
    width: 472px;
    height: 240px;
    border-radius: 8px;
    padding: 12px 12px 12px 12px;
    background: #141414;
    padding: 1rem;
    color: white;
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.24);
}

.editor__code {
    outline: none;
    padding-top: 1.5rem;
    font-family: var(--roboto);
    font-size: 0.875rem;
    font-weight: normal;
    line-height: normal;
    overflow: hidden;
}


.cabecalho__interacao {
    display: none;
}

.informacoes {
    background: rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    margin-bottom: 24px;
}

.informacoes__projeto-titulo {
    font-size: 21px;
    font-weight: 700;
    line-height: 31.5px;
    padding: 24px 24px 0 24px;
}

.informacoes__projeto-descricao {
    font-size: 16px;
    font-weight:400;
    line-height: 24px;
    padding: 0 24px 24px 24px;
}

.interacao {
    display: flex;
    align-items: center;

    
}

.interacao__comentario {
    padding: 35px 10px 35px 34px;
}

.comentario__contador {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 18px;
}

.interacao__like {
    padding-right: 10px;
}

.like__contador {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 267px;
    
}