.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;   
    right: -5000vw;
    transition: .25s;
    width: 254px;
    height: 571px;
    border-radius: 8px;
    background-color: rgba(45, 65, 91, 1);
    padding: 24px;
    font-size: var(--tamanho-padrao);
}

.menu__lista {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.menu__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu__lateral--ativo {
    right: 0;
    transition: .25s;
}

.menu__linha {
    display: flex;
    flex-direction: column;
    width: 206px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    opacity: 0.1;
    margin-top: 24px;
}

.menu__perfil {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 8px;
    align-items: center;
    justify-content: space-around;
    width: 106px;
    height: 56px;
    color: var(--branco);    
    grid-column: 3;
    font-size: var(--tamanho-padrao);
    line-height: 24px;
    border-radius: 8px;
    transition: 0.3s;
}

.menu__perfil::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(/assets/img/Photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width:1440px){
    .menu {       
        display: flex;
        flex-direction: column;        
        align-items: flex-start;   
        left: 0;
        width:0;        
        height: 0;
        border-radius: 8px;
        background-color: #051D3B;        
        padding: 40px 24px 24px 24px;        
        font-size: var(--tamanho-padrao);
    }   

    

    .menu__heading {
        font-size: var(--tamanho-subtitulo);
        line-height: 18px;
        letter-spacing: 6px;
        font-weight: 400;
        padding-bottom: 16px;
    }

    .menu__item {
        display: flex;
        align-items: center;
        padding-bottom: 16px;
        cursor: pointer;
        font-weight: 400;

    }

    .menu__item-titulo {
        padding-left: 16px;
        font-size: var(--tamanho-padrao);
        line-height: 24px;
    }

    .menu__img-comunidade {
        opacity: 0.5;
        transition: 0.3s;
    }

    .menu__img-comunidade:hover {
        opacity: 1;
    }

    .comunidade {
        opacity: 0.5;
        transition: 0.3s;
    }

    .comunidade:hover {
        opacity: 1;
    }

    .menu__perfil, .menu__linha{
        display: none;
    }
}