body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #051d3b;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 32px 0 32px;
}

.cabecalho__pesquisa {
    background: rgba(255, 255, 255, 0.16);
    color: #FFFFFF;
    mix-blend-mode: lighten;
    width: 752px;
    height: 56px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.5;
    grid-column: 2;

}

.cabecalho__perfil {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 8px;
    align-items: center;
    justify-self: flex-end;
    color: #fff;
    padding: 8px 32px;
    grid-column: 3;
    font-size: 16px;
    line-height: 24px;
}

.cabecalho__perfil::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/Photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 38px 32px 0 32px;
    align-items: flex-start;
}

.menu-lateral {
    margin-right: 60px;
}

.menu-heading {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
    font-weight: 400;
    padding-bottom: 16px;
}

.menu__item {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    cursor: pointer;
    font-weight: 400;

}

.menu__item-titulo {
    padding-left: 16px;
    font-size: 16px;
    line-height: 24px;
}

.comunidade {
    opacity: 0.5;
}

.conteudo__principal {
    padding: 32px;
    background: #6BD1FF;
    width: 752px;
    height: 366px;
    border-radius: 8px;
}

.conteudo__editor {
    width: 688px;
    height: 302px;
    border-radius: 8px;
    padding: 16px 16px 16px 16px;
    background: #141414;
    padding: 1rem;  
    color: white;
}



.visualizador {
    width: 752px;
    height: 56px;
    border-radius: 8px;
    background: #5081FB14;
    margin-top: 32px;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    transition: 0.3s;
}

.visualizador:hover {
    background: #5081FB;
}

.projeto__lateral {
    display: flex;
    flex-direction: column;
}


.projeto-heading {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
    font-weight: 400;
    padding-bottom: 16px;
}

.projeto__nome {
    background: rgba(255, 255, 255, 0.16);
    color: #FFFFFF;
    width: 272px;
    height: 56px;
    border-radius: 8px;
    mix-blend-mode: lighten;
    opacity: 0.5;
    margin-bottom: 12px;
}

.projeto__descricao {
    background: rgba(255, 255, 255, 0.16);
    color: #FFFFFF;
    mix-blend-mode: lighten;
    width: 272px;
    height: 80px;
    border-radius: 8px;
    opacity: 0.5;
    vertical-align: top;
    text-align: start;
    resize: none;
}

.projeto__personalizar {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.projeto__linguagens {
    background: rgba(255, 255, 255, 0.16);
    color: #FFFFFF;
    mix-blend-mode: lighten;
    width: 272px;
    height: 56px;
    border-radius: 8px;
    margin-bottom: 24px;
    opacity: 0.5;
    cursor: pointer;
}

.projeto__botao {
    display: block;
    width: 272px;
    height: 56px;
    border-radius: 8px;
    background: #051d3b;
    border-width: 1px;
    border-style: solid;
    border-color: #C4C4C4;
    margin-bottom: 40px;
}

.projeto__cor {
    background: #6BD1FF;
    width: 256px;
    height: 40px;
    top: 468px;
    border-radius: 4px;
    margin: 7px 5px 0 7px;
}

.projeto__salvar {
    width: 272px;
    height: 56px;
    border-radius: 8px;
    background: #5081FB;
    font-size: 16px;
    color: #051D3B;
    line-height: 24px;
    transition: 0.3s;
}

/* .projeto__salvar :hover {
    background: blue-300;
} */


.cabecalho__interacao {
    display: none;
}