

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 32px 0 32px;
}

.cabecalho__pesquisa {
    background:rgba(255, 255, 255, 0.16);
    color: var(--branco);    
    width: 752px;
    height: 56px;
    border-radius: 8px;
    font-size: var(--tamanho-padrao);
    line-height: 24px;   
    padding-left: 16px;
    border:none;
    transition: 0.3s;
}

.cabecalho__pesquisa:hover {  
    background:rgba(255, 255, 255, 0.24);  
    mix-blend-mode: lighten;
    cursor: pointer;
}

.cabecalho__perfil {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 8px;
    align-items: center;
    justify-self: flex-end;
    color:var(--branco);
    padding: 8px 32px;
    grid-column: 3;
    font-size: var(--tamanho-padrao);
    line-height: 24px;
    border-radius: 8px;
    transition: 0.3s;
}

.cabecalho__perfil:hover{
    background: rgba(255, 255, 255, 0.24);
}

.cabecalho__perfil::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/Photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 38px 32px 0 32px;
    align-items: flex-start;
}

/* .menu-lateral {
    margin-right: 60px;
} */

.menu-heading {
    font-size: var(--tamanho-subtitulo);
    line-height: 18px;
    letter-spacing: 6px;
    font-weight: 400;
    padding-bottom: 16px;
}

.menu__item {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    cursor: pointer;
    font-weight: 400;

}

.menu__item-titulo {
    padding-left: 16px;
    font-size: var(--tamanho-padrao);
    line-height: 24px;
}

.menu__img-comunidade{
    opacity: 0.5;
    transition: 0.3s;
}

.menu__img-comunidade:hover{
    opacity: 1;
}

.comunidade {
    opacity: 0.5;
    transition: 0.3s;
}

.comunidade:hover{
    opacity: 1;
}


.visualizador {
    width: 752px;
    height: 56px;
    border-radius: 8px;
    background: rgba(80, 129, 251, 0.08);
    margin-top: 32px;
    font-size: var(--tamanho-padrao);
    color: var(--branco);
    line-height: 24px;
    transition: 0.3s;
    border:none;
}

.visualizador:hover {
    background: rgba(80, 129, 251, 0.16);
}

.visualizador:active {
    background:rgba(80, 129, 251, 0.16);
    outline: 4px solid rgba(80, 129, 251, 0.24);
}

.visualizador:focus {
    background:rgba(80, 129, 251, 0.24)
}

.projeto__lateral {
    display: flex;
    flex-direction: column;
}


.projeto-heading {
    font-size: var(--tamanho-subtitulo);
    line-height: 18px;
    letter-spacing: 6px;
    font-weight: 400;
    padding-bottom: 16px;
}

.projeto__nome {
    background: rgba(255, 255, 255, 0.16);
    color:var(--branco);
    width: 272px;
    height: 56px;
    border-radius: 8px;
    mix-blend-mode: lighten;    
    margin-bottom: 12px;
    padding-left: 16px;
    cursor: pointer;
    transition: 0.3s;
    border:none;
}

.projeto__nome:hover{
    background:rgba(255, 255, 255, 0.24);  
    mix-blend-mode: lighten;
}

.projeto__descricao {
    background: rgba(255, 255, 255, 0.16);
    color: var(--branco);
    mix-blend-mode: lighten;
    width: 272px;
    height: 80px;
    border-radius: 8px;    
    vertical-align: top;
    text-align: start;
    resize: none;
    padding-left: 14px;
    padding-top: 16px;
    cursor: pointer;
    transition: 0.3s;
    border:none;
}

.projeto__descricao:hover {
    background:rgba(255, 255, 255, 0.24);  
    mix-blend-mode: lighten;
    cursor: pointer;
}

.projeto__personalizar {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.projeto__linguagens {
    background: rgba(255, 255, 255, 0.16);
    color: var(--branco);
    mix-blend-mode: lighten;
    width: 272px;
    height: 56px;
    border-radius: 8px;
    margin-bottom: 24px;
    opacity: 0.5;
    cursor: pointer;
    padding-left: 16px;
    border:none;
    transition: 0.3s;
}

.projeto__linguagens:hover {
    background: rgba(255, 255, 255, 0.24);
}

.projeto__botao {
    display: block;
    width: 272px;
    height: 56px;
    border-radius: 8px;
    background: #051d3b;
    border-width: 1px;
    border-style: solid;
    border-color: #C4C4C4;
    margin-bottom: 40px;
}


.projeto__cor {
    background: #6BD1FF;
    width: 256px;
    height: 40px;
    top: 468px;
    border-radius: 4px;
    margin: 7px 5px 0 7px;
}

.projeto__salvar {
    width: 272px;
    height: 56px;
    border-radius: 8px;
    background: #5081FB;
    font-size: var(--tamanho-padrao);
    color: #051D3B;
    line-height: 24px;
    transition: 0.3s;
}

.projeto__salvar:hover {
    background: rgba(123, 164, 252, 1);
}

.projeto__salvar:active{
    background:rgba(123, 164, 252, 1);
    outline: 4px solid rgba(80, 129, 251, 0.72);
    transition: 0.3s;
}

.projeto__salvar:focus{
    background: rgba(150, 185, 253, 1);
}

.cabecalho__interacao, .menu__perfil{
    display: none;
}



