
@media screen and (min-width: 1024px) {
       

    .container {        
        display: flex;
        justify-content: space-around;
    }

    .cabecalho__pesquisa {
        background: rgba(255, 255, 255, 0.16);
        color: var(--branco);
        width: 752px;
        height: 56px;
        border-radius: 8px;
        font-size: var(--tamanho-padrao);
        line-height: 24px;
        padding-left: 16px;
        border: none;
        transition: 0.3s;
    }

    .cabecalho__pesquisa:hover {
        background: rgba(255, 255, 255, 0.24);
        mix-blend-mode: lighten;
        cursor: pointer;
    }

    .cabecalho__perfil {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color: var(--branco);
        padding: 8px 32px;
        grid-column: 3;
        font-size: var(--tamanho-padrao);
        line-height: 24px;
        border-radius: 8px;
        transition: 0.3s;
        cursor: pointer;
    }

    .cabecalho__perfil:hover {
        background: rgba(255, 255, 255, 0.24);
    }

    .cabecalho__perfil::before {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(../img/Photo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

  

    


    
}
